<?xml version="1.0" encoding="UTF-8" ?>
<taglib xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd"
    version="2.0">
<description>Number Formatter Custom Tag</description>
<tlib-version>2.1</tlib-version>  <!-- anything you want. NO IMPORTANCE - THIS NUMBER IS FOR YOU  -->
<short-name>mytags</short-name>
<!-- URI is any project-unique name, <uri>mytag</uri> is also OK -->
<uri>http://codeuniverse.ru/myprojectname/taglibs/numberformatter</uri>
<tag>
	<name>formatNumber</name>
	<tag-class>com.my.jsp.customtags.MyNumberFormatterTag</tag-class>
	<body-content>empty</body-content>
	<attribute>
	<name>formatString</name>
	<required>true</required>
	</attribute>
	<attribute>
	<name>numberToFormat</name>
	<required>true</required>
	</attribute>
</tag>
</taglib>